/* common.css */
.board-list {
    width: 768px;
    margin: auto;
}

.board-detail {
    width: 768px;
    margin: auto;
    text-align: left;
}

.post-list {
    width: 868px;
    margin: auto;
    text-align: left;
}

.post-container {
    width: 700px; /* 적절한 너비 설정 */
    margin: auto;
    border-radius: 20px; /* 원하는 둥근 네모의 반지름 설정 */
    background-color: #dddddd;
    overflow: hidden; /* 둥근 모서리를 제대로 보이게 하려면 overflow 속성을 설정해야 합니다. */
}

.post-detail {
    width: 668px;
    margin: auto;
    text-align: left;
}

.post-write {
    width: 868px;
    margin: auto;
    text-align: left;
}

.reply-container {
    border-radius: 10px; /* 둥근 네모의 반지름을 조절하세요 */
    border: 1px solid #ccc; /* 원하는 테두리 스타일 및 색상을 설정하세요 */
    padding: 10px; /* 적절한 안쪽 여백 설정 */
    margin-bottom: 10px; /* 댓글 간의 간격 설정 */
}

.board-contents {
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
}

.common-buttons {
    padding: 8px;
    text-align: right;
}

.no-underline {
    text-decoration: none !important;
}

.hover-pointer {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.small-icon {
    font-size: 15px; /* Adjust the font size to your preference */
}

.small-button {
    font-size: 12px; /* Adjust the font size for the button text */
    padding: 4px 8px; /* Adjust padding for the button */
}
